html, body {
    height: 100%; 
}

main {
    padding-top: 200px;
}

.homepage {
	height: 100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.logo {
	margin-top: 14vw;
	margin-bottom: 20px;
	height: 92px;
	width: 322px;
	
}

h1 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 100px;
    margin-bottom: 15px;
    text-shadow: 0 4px 30px rgba(0,0,0,1);
}

.title {
    font-size: 6rem;
    margin-bottom: 2rem;
}

.nav-right {
	float: right;
}

.search-box {
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

#search-btn {
    border-radius: 0px 5px 5px 0px;
    background-color: #363636;
    border: 1px solid #363636;
    color: #fff;
}

#registerInfo-div {
    margin-bottom: 30px;
}

.radio-holder {
    box-shadow: 31px 16px 45px rgba(0, 0, 0, 0.3);
    padding: 5px 50px;
    display: flex;
    justify-content: space-evenly;
    background-color: #363636;
    align-items: baseline;
    margin-top: 15px;
}

.radio-holder::after {
    content: '';
    position: absolute;
    z-index: -1; /* hide shadow behind image */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);                
    width: 70%; 
    left: 15%; /* one half of the remaining 30% */
    height: 100px;
    bottom: 0;
}

.radio-holder label {
    margin-bottom: 0;
    color: #fff;
    margin-left: 7px;
}

#filesToUpload {
    background-color: #363636;
    color: #fff;
    border-radius: 5px;
}