body {
    padding-top: 5rem;
    background-color: #f0f0f0;
}

main {
    margin: 15px;
}

.heading {
    margin-left: 25px;
}

.thread {
    min-height: 50px;
    padding: 15px 3px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.17);
    border-radius: 5px;
    background-color: #ffffff;
}

.post-user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-left: 1px solid #f0f0f0;
}

.post-user .fa-user-circle {
    font-size: 60px;
}

.post-username {
    margin-bottom: 0;
    width: 75px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
}

.post-bp {
    margin-bottom: 0;
    font-size: 11px;
    color: grey;
}

.reply-card {
    margin-top: 10px;
    margin-left: 7px;
    margin-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

#wmd-input {
    width: 100%;
    height: 30px;
}

.newpost-holder {
    margin-left: 15px;
}

.border {
    border: 1px solid;
}

.tag-holder {
    display: flex;
    flex-wrap: wrap;
}

.tag-holder label {
    padding: 5px;
    margin: 0;
    background-color: #383d41;
    color: white;
    border-radius: 5px;
    font-size: 9px;
    margin: 2px;
}



.thread-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 6.5%;
}

.thread-vote label {
    margin-bottom: 0;
}

.thread-title {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    padding-left: 20px;
    padding-right: 20px;
}

.thread-title label {
    margin-bottom: 0;
    font-size: 12px;
    margin-left: 5px;
    color: grey;
}



.thread-title h3 {
    font-size : 1.2rem;
    text-decoration: underline;
}



.thread-title p {
    font-size : 1.5rem;
}

.input-group textarea {
    width: 100%;
}

.thread-stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
    border-left: 1px solid #f0f0f0;
}

.thread-stats label {
    margin-bottom: 0;
    margin-left: 2px;
}



#discussion-search {
    margin-bottom: 30px;
}


.vote-btn {
    width: 100%;
    text-align: center;
}

.vote-btn.upvote:hover {
    color: #62f273;
}

.vote-btn.downvote:hover {
    color: #6083d0;
}

.vote-btn.post-upvote:hover {
    color: #62f273;
}

.vote-btn.post-downvote:hover {
    color: #6083d0;
}

.vote-btn i {
    font-size: 21px;
}

.post-content {
    border-left: 1px solid #f0f0f0;
    padding-left: 25px;
}

.post-content label {
    margin-bottom: 0;
    font-size: 12px;
    color: grey;
}


#btn-new-thread {
    margin-top: 20px;
}

.post {
    min-height: 50px;
    padding: 3px;
    margin-left: 35px;
    cursor: pointer;
}

.post:hover .vertical{
    border-left: 6px solid black;
    height: 500px;
}

.post-vote {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-vote label {
    margin-bottom: 0;
}

.vertical {
    border-left: 6px solid white;
    height: 500px;
}

#btn-new-post {
    width: 100%;
    margin-top: 10px;
}

#wmd-input {
    border-radius: 5px;
}

#wmd-preview {
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}